:root,
[data-theme="light"] {
   /*Background Colors*/
  --swap-primary-background: #FFFFFF;
  --swap-secondary-background: #F8FAFC;
  --swap-tertiary-background: #E2ECE8;

  /*Components Colors*/
  --swap-primary-color: #007329;
  --swap-secondary-color: #F8FAFC;
  
  --swap-hover-color: rgba(9, 105, 46, 0.33);
  --swap-active-color: rgba(6, 107, 45, 0.12);

  /*Text Colors*/
  --swap-primary-text-color: #000000;
  --swap-secondary-text-color: #FFFFFF;
  --swap-tertiary-text-color: #64748B; 
    
  /*Border Colors*/
  --swap-primary-border-color: #9FAAC0;

    /* Danger */
  --swap-danger-color: #c90f0f;
  --swap-danger-background: #fef2f2;

  --swap-success-color: #06ab43;

  /* Colores para las tags de padres e hijas */
  --swap-tag-padre-bg: #2596be;
  --swap-tag-padre-text: #FFFFFF;
  --swap-tag-padre-border: #E0E7FF;

  --swap-tag-hija-bg: #5e9fb7;
  --swap-tag-hija-text: #ffffff;
  --swap-tag-hija-border: #E0E7FF;
}

[data-theme="dark"] {
    /*Background Colors*/
  --swap-primary-background: #0F172A;
  --swap-secondary-background: #1E293B;
  --swap-tertiary-background: #334155;

  /*Components Colors*/
  --swap-primary-color: #118a3f;
  --swap-secondary-color: #1E293B;

  --swap-hover-color: rgba(36, 161, 84, 0.33);
  --swap-active-color: rgba(53, 188, 105, 0.33);

  /*Text Colors*/
  --swap-primary-text-color: #F8FAFC;
  --swap-secondary-text-color: #ebebeb;
  --swap-tertiary-text-color: #94A3B8; 
    
  /*Border Colors*/
  --swap-primary-border-color: #334155;

    /* Danger */
  --swap-danger-color: #EF4444;
  --swap-danger-background: #450A0A;

  --swap-success-color: #06ab43;

  /* Colores para las tags de padres e hijas */
  --swap-tag-padre-bg: #2596be;
  --swap-tag-padre-text: #FFFFFF;
  --swap-tag-padre-border: #334155;

  --swap-tag-hija-bg: #5e9fb7;
  --swap-tag-hija-text: #ffffff;
  --swap-tag-hija-border: #334155;
}


