@import url("../styles/fonts.css");
@import url("../styles/variables.css");

body {
  margin: 0;
  font-family: var(--swap-font-textos), sans-serif;
  background-color: var(--swap-primary-background);
  color: var(--swap-primary-text-color);
}