/* CSS para Materiales, Negocio, Tutorias y Descubre*/

.seccion-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 100%;
  background-color: var(--swap-primary-background);
}